h1 {
	font-family : Luminari, fantasy;
	text-align: center;
	color: RosyBrown;
	font-size:35px;
}
div bite {
	color : red;
}

h2{
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive
}

.bite {
	color : red;
}
